@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app h1{
    color:#2196f3;
    font-size: 32px;
    margin-top: 30px;
}
.button-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.button-container .button {
    padding: 8px 16px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}
.button-container .button.active {
    background: #2196f3;
}
.inputbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox input {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    padding: 7px 20px;
    margin: 20px 0;
    min-width: 310px;
    min-height: 45px;
    font-size: 28px;
}
.item-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item-container .item {
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    padding: 10px 20px;
    border-radius: 10px;
    flex: 0 0 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-container .item p {
    font-size: 20px;
    color: #03a9f4;
}

.item-container .item p.category {
    font-size: 15px;
    color: #9e9e9e;
}